/* theme change toggle */
.toggleSwitch {
    width: 55px;
    height: 30px;
    display: block;
    position: relative;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0 0 16px 3px rgba(0 0 0 / 15%);
    cursor: pointer;
  }
  
  .toggleSwitch .toggleButton {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
    border-radius: 50%;
    transition: all 0.2s ease-in;
  }
  .toggleSwitch {
    background: #e0e0e0;
  }
  .toggleSwitch.active {
    background: #5c5c5c;
  }
  
  .toggleSwitch.active .toggleButton {
    left: calc(100% - 25px);
    background: #fff !important;
  }
  
  .toggleButton {
    display: inline-block;
    position: relative;
    background: #ffffff;
  }
  
  .toggleSwitch.blue.active {
    background: #5151e5;
  }
  
  .toggleSwitch.blue .toggleButton {
    background: #5151e5;
  }
  
  .display_mode_icon {
    width: 20px;
    height: 20px;
  }